<div class="grid-wrapper">
  <!-- Header -->
  <div>
    <h1>
      Menus
      <button class="btn btn-success" (click)="openModal(null)">Add</button>
    </h1>
  </div>

  <!-- Datagrid -->
  <div class="grid-block">
    <clr-datagrid>
      <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
      <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
      <clr-dg-column>Actions</clr-dg-column>

      <clr-dg-row *clrDgItems="let menu of menus">
        <clr-dg-cell>
          <strong><a routerLink="/menus/{{menu.id}}">{{menu.name}}</a></strong>
        </clr-dg-cell>
        <clr-dg-cell>{{menu.description}}</clr-dg-cell>
        <clr-dg-cell>
          <div>
            <button class="btn btn-sm btn-success-outline" (click)="openModal(menu)">Edit</button>
            <button class="btn btn-sm btn-danger-outline" (click)="deleteMenu(menu)">Delete</button>
          </div>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>{{menus.length}} Menus</clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<!-- Add/edit menu modal -->
<clr-modal [(clrModalOpen)]="modalOpen">
  <h3 class="modal-title">{{modalAction}} Dish</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="modalForm">

      <clr-input-container>
        <label class="clr-col-12 clr-col-md-3">Name</label>
        <input class="clr-col-12 clr-col-md-9" clrInput type="text" formControlName="name" placeholder="Name of menu" required />
        <clr-control-error>This field is mandatory</clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label class="clr-col-12 clr-col-md-3">Description</label>
        <input class="clr-col-12 clr-col-md-9" clrInput type="text" formControlName="description" placeholder="Describe the menu" required />
        <clr-control-error>This field is mandatory</clr-control-error>
      </clr-input-container>

      <clr-select-container>
        <label class="clr-col-12 clr-col-md-3">Dishes</label>
        <select class="clr-col-12 clr-col-md-9" clrSelect multiple required formControlName="dishes">
          <option *ngFor="let dish of dishes" [ngValue]="dish.id">{{dish.name}}</option>
        </select>
      </clr-select-container>

    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="closeModal()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="submitModal()">{{modalAction}}</button>
    </div>
  </div>
</clr-modal>
